
@{
    ViewData["Title"] = "CheachYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		
		<div>
			<p>Password Resset Link Has Been Send TO Your Email. Please Check Your InBox </p>
		</div>
		<div>
			<a href="https://mail.google.com/mail/u/0/#inbox">Your InBox</a>
		</div>
	</div>
</div>

