@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure Went To Delete This Department !?</h1>
<br />
<br />


<form asp-action="Delete" asp-route-id="@Model.Id" >

    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="DataOfCreation"></label>
        <input asp-for="DataOfCreation" class="form-control" readonly />
    </div>

    <input type="submit" value="Delete" class="btn mt-5 btn-danger" />
    <a asp-action="Index" class="btn btn-light mt-5">Cancel</a>

</form>


